.container {
    width: 40vw;
    height: 35vh;
    outline: 0px solid;
    margin: 1vw;
    align-items: center;
    justify-content: center;
 
}

.heading {
    width: 100%;
    height: 5vh;
    display: flex;
    outline: 0px solid;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:  larger;
    font-weight: bolder;
    
}
.container hr {
    border: 2px solid rgb(96, 96, 130);
}
.data {
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0px solid;
    gap: 10px;
    
}