.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info h1{
    text-align: center;
}
.contactInfo {
    border: 1px solid;
    display: flex;
    flex-direction: column;
}
.contactInfo p {
    font-size: larger;
    font-weight: bold;
    padding: 2vh 2vw 2vh 2vw;

    width: auto;
}



.imgContainer {
  
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit:fill;
    border-radius: 50%;
}

@media (max-width:768px){
    .imgContainer {
        height: fit-content;
        margin-top: 2vh;
    }
   
    .imgContainer img {
        margin-top: 0px;
        margin-bottom: 0px;
        width: 100%;
        height: min-content;
        object-fit: fill;
    
    }
    
}

