
.skillsContainer{
    display: grid;
    grid-template-columns:  repeat(5, 20%);
    grid-template-rows: 100%;
    width: 100%;
    height: 80vh;
    justify-content: center;
    background-color: rgb(242, 243, 244);

}
.skillBox {
    margin: 1vw;
    box-shadow:0 15px 30px rgba(0,0,0,0.2);
    border-radius: 1vw;
}

.skillBox:hover {
    transform: translateY(-10px);
}
.heading{
    display: flex;
    flex-direction: column;
}

.heading button {
    background-color: none;
    border: none;
    color: azure;
}
.skillNameCon{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.imgCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5vh;
    width: 100%;

}
.skillImg {
    width: 10vw;
    aspect-ratio: 16 / 9;
    object-fit: fill;
    
}

.nameCon {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5vh;
}


@media (max-width:768px) {
    .skillsContainer{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .skillBox{
        padding: 0% 2% 0% 2%;
    }
}